<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Medium clone</title>
    <!--<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>-->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

  </head>
   <body class="bg-white w-full">

    <header class="bg-blue-200 w-full h-20 border-b border-black flex" style="position: fixed;">
      <div class="container w-6/12 pt-4 " >
           <img src="<%= Routes.static_path(@conn, "/images/medium-logo.png") %>" class="float-left ml-16" style="width:179px; height:45px;">
      </div>


      <div class="container w-6/12 text-sm font-sans">
        <ul class= "float-right flex mr-14">
          <li class="mt-7 ml-4">
           <button class= "text-black text-sm font-medium hover:text-white" type="button">
             <%= link "Sign In", to: Routes.auth_path(@conn, :request, "google") %>

            </button>
          </li>
          <li class="mt-6 ml-4">
            <button class="bg-black  pb-1 w-24 h-9 text-sm rounded-full text-white " type="button"> Get started </button>
          </li>
        </ul>
      </div>




    </header>

    <div class="bg-blue-200 w-full h-96 pt-28 pl-16">
      <p class="Normalize font-serif text-6xl">
        <span>Medium is a<span></br>
        <span>place to write,<span></br>
         read, and </br>connect
      </p>

      <p class="Capitalize font-sans tracking-tight">
       <div class="h-16 font-normal text-l">
        It's easy and free to post your thinking on any </br>
        topic and connect with millions of readers
       </div>
       <div class="mt-2">
          <button class=" font-normal bg-white border border-black rounded-full h-10 w-32" type="button"> Start Writing </button>
       </div>
      </p>
    </div>
    <div class="bg-blue-200 w-full h-28 border-b border-black pt-6 pl-16">
    </div>



    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
   <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/landing.js") %>"></script>
  </body>
</html>
